@charset "utf-8";
/* CSS Document */
.ui.stackable.grid > .row {
    padding: 0;
}
/*.content{
	margin-top:1em;
	margin-bottom:1em !important;
}*/
.ui.container{
	height:auto !important;
	min-height:100% !important;
	width:97.5%;
	margin:1.5em auto;
}
body{
	height:auto;
}